<footer id="footer">
  <img src="../../../../assets/imges/wave.svg" class="footer-img">
  <div class="container">
      <div class="row">
          <div class="col-md-4 footer-box">
              <img src="../../../../assets/imges/logo2.svg">
              <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus odit recusandae veritatis. Nam ea quos provident suscipit amet quaerat officia, numquam velit voluptates, architecto molestias sed error unde, tempora earum!</p>
          </div>

          <div class="col-md-4 footer-box lead contact">
              <p class="lead"><b>Contact Us</b></p>
              <p><i class="fas fa-map-marker-alt"></i>World Best Center</p>
              <p><i class="fas fa-phone"></i>0102200220</p>
              <p><i class="fas fa-envelope"></i>salamozm346@gmail.com</p>
          </div>

          <div class="col-md-4 footer-box lead contact">
              <p class="lead"><b>Contact Us</b></p>
              <input type="email" class="form-control" placeholder="Your Email">
              <button type="button" class="btn btn-danger">Subscribe</button>
          </div>
      <!-- end row -->
      </div>
      <hr>
      <p class="copyright">Copyright to mahmoud salama iti 2021 &copy;</p>
  <!-- end container     -->
  </div>
</footer>

