<div class="card">
  <article class="card-group-item">
    <header class="card-header">
      <h6 class="title">Brands </h6>
    </header>
    <div class="filter-content">
      <div class="card-body">
        <form>

          <label class="form-check">
               <span class="form-check-label">
				    Mersedes Benz
				  </span>
            <input class="form-check-input" type="checkbox" value="">
          </label> <!-- form-check.// -->

          <label class="form-check">
              <span class="form-check-label">
				    Nissan Altima
				  </span>
            <input class="form-check-input" type="checkbox" value="">
          </label>  <!-- form-check.// -->

          <label class="form-check">
              <span class="form-check-label">
				    Another Brand
				  </span>
            <input class="form-check-input" type="checkbox" value="">
          </label>  <!-- form-check.// -->
        </form>

      </div> <!-- card-body.// -->
    </div>
  </article> <!-- card-group-item.// -->

  <article class="card-group-item">
    <header class="card-header">
      <h6 class="title">Choose type </h6>
    </header>
    <div class="filter-content">
      <div class="card-body">
        <label class="form-check">
            <span class="form-check-label">
			    First hand items
			  </span>
          <input class="form-check-input" type="radio" name="exampleRadio" value="">
        </label>

        <label class="form-check">
            <span class="form-check-label">
			    Brand new items
			  </span>
          <input class="form-check-input" type="radio" name="exampleRadio" value="">
        </label>
        <label class="form-check">
            <span class="form-check-label">
			    Some other option
			  </span>
          <input class="form-check-input" type="radio" name="exampleRadio" value="">
        </label>
      </div> <!-- card-body.// -->
    </div>
  </article> <!-- card-group-item.// -->
</div> <!-- card.// -->
